<section class="branding" id="branding">
  <div class="branding__container">
    <div class="branding__head">
      <h2 class="branding__title branding__counter">Branding</h2>
      <p class="branding__description">Сorporate identity development,
        logo and package design</p>
    </div>
    <div class="branding__cards">
      <section class="branding__card card">
        <img class="card__img img" src="@img/branding/branding01.png" alt="" aria-hidden="true">
        <h3 class="card__title">Brandbook</h3>
        <p class="card__description">Visual concept development of a platform for digitalization of real estate
          transactions</p>
      </section>
      <section class="branding__card card">
        <img class="card__img img" src="@img/branding/branding02.png" alt="" aria-hidden="true">
        <h3 class="card__title">Logo design</h3>
        <p class="card__description">Craft tableware & decor</p>
      </section>
      <section class="branding__card card">
        <img class="card__img img" src="@img/branding/branding03.png" alt="" aria-hidden="true">
        <h3 class="card__title">Logo design</h3>
        <p class="card__description">Craft natural cosmetics from Crimea</p>
      </section>
      <section class="branding__card card">
        <img class="card__img img" src="@img/branding/branding04.png" alt="" aria-hidden="true">
        <h3 class="card__title">Package design</h3>
        <p class="card__description">Craft natural cosmetics from Crimea</p>
      </section>
    </div>
  </div>
</section>