<section class="branding" id="branding">
  <div class="branding__container">
    <div class="branding__head">
      <h2 class="branding__title branding__counter" data-aos="fade-up">Branding</h2>
      <p class="branding__description" data-aos="zoom-in-left">Сorporate identity development,
        logo and package design</p>
    </div>
    <div class="branding__cards">
      <section class="branding__card card">
        <a data-fancybox="gallery" href="@img/branding/branding01.png">
          <img class="img lazy" data-src="@img/branding/branding01.png" alt="" aria-hidden="true" data-aos="fade-right"
            data-aos-delay="100">
        </a>
        <h3 class="card__title" data-aos="fade-right" data-aos-delay="200">Brandbook</h3>
        <p class="card__description" data-aos="fade-right" data-aos-delay="300">Visual concept development of a platform
          for digitalization of real estate
          transactions</p>
      </section>
      <section class="branding__card card">
        <a data-fancybox="gallery" href="@img/branding/branding02.png">
          <img class="img lazy" data-src="@img/branding/branding02.png" alt="" aria-hidden="true" data-aos="fade-left"
            data-aos-delay="100">
        </a>
        <h3 class="card__title" data-aos="fade-left" data-aos-delay="200">Logo design</h3>
        <p class="card__description" data-aos="fade-left" data-aos-delay="300">Craft tableware & decor</p>
      </section>
      <section class="branding__card card" data-aos="fade-right">
        <a data-fancybox="gallery" href="@img/branding/branding03.png">
          <img class="img lazy" data-src="@img/branding/branding03.png" alt="" aria-hidden="true" data-aos="fade-right"
            data-aos-delay="100">
        </a>
        <h3 class="card__title" data-aos="fade-right" data-aos-delay="200">Logo design</h3>
        <p class="card__description" data-aos="fade-right" data-aos-delay="300">Craft natural cosmetics from Crimea</p>
      </section>
      <section class="branding__card card" data-aos="fade-left">
        <a data-fancybox="gallery" href="@img/branding/branding04.png">
          <img class="img lazy" data-src="@img/branding/branding04.png" alt="" aria-hidden="true" data-aos="fade-left"
            data-aos-delay="100">
        </a>
        <h3 class="card__title" data-aos="fade-left" data-aos-delay="200">Package design</h3>
        <p class="card__description" data-aos="fade-left" data-aos-delay="300">Craft natural cosmetics from Crimea</p>
      </section>
    </div>
  </div>
</section>