<section class="game" id="game">
  <div class="game__container">
    <div class="game__head">
      <h2 class="game__title game__counter">GAME DESIGN</h2>
      <p class="game__description">Creating visual concepts for games, illustration, character creation, UX</p>
    </div>
    <div class="game__cards">
      <section class="game__card card">
        <a data-fancybox="gallery" href="@img/game/game01.png">
          <img class="img lazy" data-src="@img/game/game01.png" alt="" aria-hidden="true">
        </a>
        <h3 class="card__title">Memory</h3>
        <p class="card__description game__card-description">Where is my watermelon?</p>
      </section>
      <section class="game__card card">
        <a data-fancybox="gallery" href="@img/game/game02.png">
          <img class="img lazy" data-src="@img/game/game02.png" alt="" aria-hidden="true">
        </a>
        <h3 class="card__title">Object Catcher</h3>
        <p class="card__description game__card-description">Berry boom</p>
      </section>
      <section class="game__card card">
        <a data-fancybox="gallery" href="@img/game/game03.png">
          <img class="img lazy" data-src="@img/game/game03.png" alt="" aria-hidden="true">
        </a>
        <h3 class="card__title">Runner</h3>
        <p class="card__description game__card-description">Let's run to get a cashback</p>
        <button class="button-play mt-20">Play</button>
      </section>
      <section class="game__card card">
        <a data-fancybox="gallery" href="@img/game/game04.png">
          <img class="img lazy" data-src="@img/game/game04.png" alt="" aria-hidden="true">
        </a>
        <h3 class="card__title">Hidden Objects</h3>
        <p class="card__description game__card-description">Search for objects in different locations</p>
      </section>
    </div>
  </div>
</section>