<section class="illustration" id="illustration">
  <div class="illustration__container">
    <div class="illustration__head">
      <h2 class="illustration__title illustration__counter">
        ILLUSTRATION
      </h2>
      <p class="illustration__description">
        Hand drawn and digital illustration, printing
      </p>
    </div>
    <div class="illustration__cards">
      <section class="card illustration__card">
        <img class="card__img img" src="@img/illustration/illustration01.png" alt="" aria-hidden="true">
        <h3 class="card__title">Sticker pack</h3>
        <p class="card__description">Design and printing of stickers for the event</p>
      </section>
      <section class="card illustration__card">
        <img class="card__img img" src="@img/illustration/illustration02.png" alt="" aria-hidden="true">
        <h3 class="card__title">Beer label</h3>
        <p class="card__description">Label design for agency birthday</p>
      </section>
      <section class="card illustration__card">
        <img class="card__img img" src="@img/illustration/illustration03.png" alt="" aria-hidden="true">
        <h3 class="card__title">Poster</h3>
        <p class="card__description">Collage. Paints & paper</p>
      </section>
      <section class="card illustration__card">
        <img class="card__img img" src="@img/illustration/illustration04.png" alt="" aria-hidden="true">
        <h3 class="card__title">Mascot illustration</h3>
        <p class="card__description">Pangolin illustration for SafeDNS app</p>
      </section>
    </div>
  </div>
</section>