<section class="mail" id="mail">
  <div class="mail__container">
    <div class="mail__head">
      <h2 class="mail__title mail__counter">MAIL DESIGN</h2>
      <p class="mail__description">Animation, creative, AMP</p>
    </div>
    <div class="mail__cards">
      <img class="mail__img" src="@img/mail/mail01.png" alt="" aria-hidden="true">
      <img class="mail__img" src="@img/mail/mail02.png" alt="" aria-hidden="true">
      <img class="mail__img" src="@img/mail/mail03.png" alt="" aria-hidden="true">
      <img class="mail__img" src="@img/mail/mail04.png" alt="" aria-hidden="true">
      <img class="mail__img" src="@img/mail/mail05.png" alt="" aria-hidden="true">
      <img class="mail__img" src="@img/mail/mail06.png" alt="" aria-hidden="true">
      <img class="mail__img" src="@img/mail/mail07.png" alt="" aria-hidden="true">
      <img class="mail__img" src="@img/mail/mail08.png" alt="" aria-hidden="true">
    </div>
  </div>
</section>