<section class="mail" id="mail">
  <div class="mail__container">
    <div class="mail__head">
      <h2 class="mail__title mail__counter" data-aos="fade-up" data-aos-delay="200">MAIL DESIGN</h2>
      <p class="mail__description" data-aos="zoom-in-right">Animation, <br> creative, AMP</p>
    </div>
    <div class="mail__cards">
      <a class="mail__img" data-fancybox="gallery" href="@img/mail/mail01.webp">
        <img class="img lazy" data-src="@img/mail/mail01.png" alt="" aria-hidden="true" data-aos="zoom-out-right">
      </a>
      <a class="mail__img" data-fancybox="gallery" href="@img/mail/mail02.webp">
        <img class="img lazy" data-src="@img/mail/mail02.png" alt="" aria-hidden="true" data-aos="zoom-out-up">
      </a>
      <a class="mail__img" data-fancybox="gallery" href="@img/mail/mail03.webp">
        <img class="img lazy" data-src="@img/mail/mail03.png" alt="" aria-hidden="true" data-aos="zoom-out-left">
      </a>
      <a class="mail__img" data-fancybox="gallery" href="@img/mail/mail04.webp">
        <img class="img lazy" data-src="@img/mail/mail04.png" alt="" aria-hidden="true" data-aos="zoom-out-right">
      </a>
      <a class="mail__img" data-fancybox="gallery" href="@img/mail/mail05.webp">
        <img class="img lazy" data-src="@img/mail/mail05.png" alt="" aria-hidden="true" data-aos="zoom-out-up">
      </a>
      <a class="mail__img" data-fancybox="gallery" href="@img/mail/mail06.webp">
        <img class="img lazy" data-src="@img/mail/mail06.png" alt="" aria-hidden="true" data-aos="zoom-out-left">
      </a>
      <a class="mail__img" data-fancybox="gallery" href="@img/mail/mail07.webp">
        <img class="img lazy" data-src="@img/mail/mail07.png" alt="" aria-hidden="true" data-aos="zoom-out-up">
      </a>
      <a class="mail__img" data-fancybox="gallery" href="@img/mail/mail08.webp">
        <img class="img lazy" data-src="@img/mail/mail08.png" alt="" aria-hidden="true" data-aos="zoom-out-left">
      </a>
    </div>
  </div>
</section>