<section class="main">
  <div class="main__container">
    <div class="avatar-block">
      <img class="avatar-block__img" src="@img/main/avatar.png" alt="Svetlickaya photo portret">
      <h2 class="avatar-block__title">Julia Svetlitskaya</h2>
      <button class="main__button button">Graphic Designer</button>
    </div>
    <h1 class="main__title">PERSONAL <span class="main__title-slogan">Portfolio</span></h1>
    <video class="main__gifs img" autoplay loop src="@img/main/hand.mp4"></video>
    <button class="main__button-contact button-contact">
      Contact me
      <svg class="button-contact__star">
        <use xlink:href="img/symbol/sprite.svg#ico-star"></use>
      </svg>
    </button>
    <ul class="main__tool-list">
      <li class="main__tool-list-item">
        Skills
      </li>
      <li class="main__tool-list-item">
        Branding
      </li>
      <li class="main__tool-list-item">
        Illustration
      </li>
      <li class="main__tool-list-item">
        Animation
      </li>
      <li class="main__tool-list-item">
        Mail design
      </li>
      <li class="main__tool-list-item">
        Game design
      </li>
    </ul>
  </div>
</section>