<section class="rendering" id="rendering">
  <div class="rendering__container">
    <div class="rendering__head">
      <h2 class="rendering__title rendering__counter">3D RENDERING</h2>
      <p class="rendering__description">
        Interior design, visualisation,
        working with lighting
        and textures
      </p>
    </div>
    <div class="rendering__cards">
      <section class="card rendering__card">
        <a data-fancybox="gallery" href="@img/rendering/rendering01.png">
          <img class="img lazy" data-src="@img/rendering/rendering01.png" alt="" aria-hidden="true">
        </a>
        <h3 class="card__title">Exterior visualisation | 1</h3>
        <p class="card__description">3ds Max + Corona render + Photoshop</p>
      </section>
      <section class="card rendering__card">
        <a data-fancybox="gallery" href="@img/rendering/rendering02.png">
          <img class="img lazy" data-src="@img/rendering/rendering02.png" alt="" aria-hidden="true">
        </a>
        <h3 class="card__title">Interior visualisation | 1</h3>
        <p class="card__description">3ds Max + Corona render + Photoshop</p>
      </section>
      <section class="card rendering__card">
        <a data-fancybox="gallery" href="@img/rendering/rendering03.png">
          <img class="img lazy" data-src="@img/rendering/rendering03.png" alt="" aria-hidden="true">
        </a>
        <h3 class="card__title">Exterior visualisation | 2</h3>
        <p class="card__description">3ds Max + Corona render + Photoshop</p>
      </section>
      <section class="card rendering__card">
        <a data-fancybox="gallery" href="@img/rendering/rendering04.png">
          <img class="img lazy" data-src="@img/rendering/rendering04.png" alt="" aria-hidden="true">
        </a>
        <h3 class="card__title">Interior visualisation | 2</h3>
        <p class="card__description">3ds Max + Corona render + Photoshop</p>
      </section>
    </div>
  </div>
</section>