<section class="skills">
  <div class="skills__container">
    <h2 class="skills__title skills__counter">sKILLS</h2>
    <div class="skills__table">
      <div class="skills__col">
        <div class="skills__content">
          <h3 class="skills__label">
            Education
          </h3>
          <span class="skills__year">2013-2016</span>
          <p class="skills__description">Ural College of Construction and Architecture</p>
          <p class="skills__name">Architect</p>
        </div>
        <div class="skills__content">
          <span class="skills__year">2017-2018</span>
          <p class="skills__description">Ural Federal University</p>
          <p class="skills__name">Industrial designer</p>
        </div>
        <div class="skills__content">
          <span class="skills__year">2018-2021</span>
          <p class="skills__description">Ural Federal University</p>
          <p class="skills__name">Construction of buildings and structures</p>
        </div>
        <div class="skills__content-labels">
          <h3 class="skills__label">
            Skills
          </h3>
          <div class="skills__labels">
            <span class="skills__label-button skills__label-button--border">Branding</span>
            <span class="skills__label-button skills__label-button--pink">Graphic design</span>
            <span class="skills__label-button skills__label-button--pink">Illustration</span>
            <span class="skills__label-button skills__label-button--border">Logo design</span>
            <span class="skills__label-button skills__label-button--border">Content making</span>
            <span class="skills__label-button skills__label-button--pink">Motion design</span>
          </div>
        </div>
      </div>
      <div class="skills__col">
        <div class="skills__content">
          <h3 class="skills__label skills__label--position">
            Softwares skills
          </h3>
          <div class="skills__tools">
            <img class="skills__tools-img" src="@img/tools/figma.png" alt="figma">
            <img class="skills__tools-img" src="@img/tools/photoshop.png" alt="photoshop">
            <img class="skills__tools-img" src="@img/tools/after-effects.png" alt="after-effects">
            <img class="skills__tools-img" src="@img/tools/illustrator.png" alt="illustrator">
            <img class="skills__tools-img" src="@img/tools/tilda.png" alt="tilda">
            <img class="skills__tools-img" src="@img/tools/tringle.png" alt="tringle">
          </div>
        </div>
        <div class="skills__content">
          <h3 class="skills__label">
            Experience
          </h3>
          <span class="skills__year skills__year--pl">2013-2016</span>
          <p class="skills__description">Artsofte Digital | Senior designer</p>
          <p class="skills__name">Social media design,
            web design, motion design,
            visual identity, print ads, retouching, 3d modeling</p>
        </div>
        <div class="skills__content">
          <span class="skills__year skills__year--pl">2021- Now</span>
          <p class="skills__description">Web-designer</p>
          <p class="skills__name">Mailing design, motion design,
            web design, illustration, print ads,
            retouching, game design</p>
        </div>
      </div>
    </div>
  </div>
</section>