.header__container {
  padding-top: rem(87);
  padding-bottom: rem(75);
  display: flex;
  justify-content: center;
  gap: rem(21);
}

.header__contact {
  font-family: 'VelaSans-Regular';
  font-size: rem(17);
  line-height: math.div(26, 17);
  color: $colorBF;
}

@media (max-width:$mobile) {
  .header__container {
    padding-top: rem(40);
    padding-bottom: rem(70);
  }
}