.branding__container {
  padding-bottom: rem(140);
}

.branding__title {
  @include titleSkills;
}

.branding__head {
  @include headTitle;
}

.branding__description {
  @include descriptionHead;
}

.branding__cards {
  @include gridLayout;
}

.branding__card:nth-child(1) {
  grid-column: 1 / 8;
}

.branding__card:nth-child(2) {
  grid-column: 8 / 13;
}

.branding__card:nth-child(3) {
  grid-column: 1 / 6;
}

.branding__card:nth-child(4) {
  grid-column: 6 / 13;
}


@media (max-width:$tablet) {
  .branding__container {
    padding-bottom: rem(50);
  }
}

@media (max-width:$mobileSmall) {
  .branding__card:nth-child(1) {
    grid-column: 1 / 7;
  }

  .branding__card:nth-child(2) {
    grid-column: 7 / 13;
  }

  .branding__card:nth-child(3) {
    grid-column: 1 / 7;
  }

  .branding__card:nth-child(4) {
    grid-column: 7 / 13;
  }
}